@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': skyblue
    ),
    "success":(
    'base': teal
    ),
    "warning":(
    'base':#7179ED
    )
  ),
   $text-color: (
    title:#1d2129
  ),
  $border-radius:(
   'base': 4px,
  ),
  $bg-color: (
    'menuItem':#E8F7FC,
    'commonBg':#F1F2F3,
    'articleItemBg':#FAFAFA,
    'bgLinearGradient1':rgb(243, 221, 221),
    'bgLinearGradient2':rgb(225, 231, 247),
    'bgLinearGradient3':rgb(214, 234, 241),
    'bgLinearGradient4':rgb(246, 220, 248)
  
  ),

);




@use "element-plus/theme-chalk/src/index.scss" as *;